body,
html {
    width: 100%;
    height: 100%
}

body {
    background-color: antiquewhite;
}

.box1 {
    background-image: url("./images/1.webp");
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.box2 {
    background-image: url("./images/2.webp");
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.box3 {
    background-image: url("./images/3.webp");
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}